<div class="row">
	<div class="large-8 large-centered columns spotify-playlist-title-box">
		<h2 onclick="togglePlaylist()" class="spotify-playlist-title">Select Spotify Playlist to Add Tracks</h2>
	</div>
</div>
<div class="row">
	<div class="large-8 large-centered columns spotify-playlist-list-box">
		<ul class="side-nav">
		<% @playlists.each do |playlist| %>
			<li><a onclick="selectPlaylist('<%= playlist.id %>', this)" class='spotify-playlist-text'><%= playlist.name %> | Owner: <%= playlist.owner.display_name %> | Tracks: <%= playlist.tracks.length %></a></li>
		<% end %>
		</ul>
	</div>
</div>

<div class="row">
  <div class="large-12 large-centered columns">
		<dl class="accordion" data-accordion>
		  <% @bpm_playlist.each_with_index do |track, index| %>
		  <dd class="accordion-navigation">
		    <a href="#panel<%= index %>">
		      <span class="title"><%= track["title"] %></span> <span class="artist"><%= track["artist"] %></span>
		      <% if track["breaker?"] == true %>
		        <span class="breaker right"><%= "BPM Breaker" %></span>
		      <% end %>
		    </a>
		    <div id="panel<%= index %>" class="content">
		      Loading soundcload tracks...
		    </div>
		  </dd>
		  <% end %>
		</dl>
	</div>
</div>

<script>spotifyUserId = <%= @spotify_user.id %>;</script>